.container {
    width: 400px;
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    width: inherit;
    outline: 0;
}

.content {
    z-index: 100;
    background: #33005d;
    position: relative;
    margin: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .close {
        font-size: 16px;
        position: absolute;
        right: 5px;
        top: 5px;
        border: none;
        background: none;
        cursor: pointer;
        color: #c2c2c2;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        padding-left: 10%;
        font-size: 24px;
        cursor: default;

        .name {
            color: #c2c2c2;
        }
    }

    .titleLine {
        width: 90%;
        background-color: #fff;
        opacity: .2;
        height: 3px;
        border: 0;
    }


    .description {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        cursor: default;
        padding-left: 10%;
        width: 90%;

        .from {
            margin-bottom: 30px;

            .fromTitle {
                color: #c2c2c2;
                font-size: 18px;
            }

            .contactName {
                width: 40%;
                background-color: #7800D7;
                border-radius: 10px;
                padding: .4rem;
                outline: none;
                color: #e2e2e2;
                margin-left: 10px;
                border: 0;
                font-size: 16px;
            }
        }

        .messageTitle {
            color: #c2c2c2;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    .contactInfo {
        background-color: #7800D7;
        border-radius: 10px;
        padding: .5rem;
        outline: none;
        border: 0;
        color: #c2c2c2;
        height: 200px;
        resize: none;
        font-size: 16px;
    }

    .submitBtn {
        margin: 20px 0;
        cursor: pointer;
        border-radius: 10px;
        align-self: center;
        width: 30%;
        height: 30px;
        background-color: #7800D7;
        color: #fff;
        font-size: 16px;
        border: none;
        outline: none;
    }

}



.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 500;
}