.container {
    width: 270px;
    height: 250px;
    border-radius: 10px;
    background-color: #0C2445;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .githubIcon {
        position: absolute;
        top: 17px;
        right: 15px;

        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

    .title {
        color: #e2e2e2;
        font-size: 20px;
    }

    .description {
        margin: 0 20px;
        text-align: justify;
        word-break: break-all;
        height: 140px;
        overflow: hidden;
        color: #c2c2c2;
        align-self: flex-start;
    }

    .tech {
        width: 100%;
        flex-grow: 1;
        color: #c2c2c2;
        justify-content: flex-start;
        margin: 0;
        display: flex;

        p {
            margin-right: 50px;
        }

        :first-child {
            margin-left: 20px;
        }
    }
}