.container {
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        height: 10vh;
        min-height: 64px;
        width: 200px;
        display: flex;
        position: relative;

        .name {
            left: 0;
            right: 0;
            position: absolute;
            margin: auto;
            width: fit-content;

            color: #E2E2E2;
            background-color: #061324;
            font-size: 32px;
            top: 25%;
        }

        .leftTitle {
            width: 50%;
            height: 100%;
            border-right: 2px solid #c680ff;
        }

        .rightTitle {
            width: 50%;
            height: 100%;
            border-left: 1px solid #c680ff;
        }
    }

    @media (min-width: 940px) {
        .titleLine {
            width: 678px;
            margin: 0;
            margin-right: 241px;
            background-color: #c680ff;
            border: 0;
            height: 2px;
        }

        .description {
            border-left: 2px solid #c680ff;
            width: 920px;
            height: 480px;
            padding-left: 30px;
            display: flex;

            .descriptionText {
                margin-top: 30px;
                margin-right: 37px;
                color: #c2c2c2;
                text-align: justify;
                width: 50%;
                letter-spacing: 1px;

                .colorDescription {
                    margin: 0;
                    color: #c680ff;
                }
            }

            .firstDescriptionText {
                margin-top: 0;
            }

            .profileImage {
                display: flex;
                flex-direction: column;

                .topPart {
                    height: 30px;
                    display: flex;

                    .topLeftPart {
                        border-right: 1px solid #c680ff;
                        height: 100%;
                        width: 50%;
                    }

                    .topRightPart {
                        border-left: 1px solid #c680ff;
                        height: 100%;
                        width: 50%;
                    }
                }

                .imageContainer {
                    height: 330px;
                    width: 330px;
                    border-radius: 10px;
                    box-shadow:
                        20px 20px 0 -1px #061324,
                        20px 20px 0px 2px #c680ff;

                    .profileImg {
                        height: 330px;
                        width: 330px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .skills {
            flex-grow: 1;
            width: 920px;
            display: flex;

            .borderLeft {
                height: 100%;
                width: 1.75px;
                background: linear-gradient(rgba(198, 128, 255, 1), rgba(255, 77, 118, 1));
            }

            .content {
                padding-bottom: 80px;
                justify-content: space-evenly;
                height: 100%;
                width: 918px;
                display: flex;
                height: 280px;

                .leftContent,
                .rightContent {
                    color: #c2c2c2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    list-style: none;

                    li {
                        position: relative;
                        padding-left: 1.5rem; /* Da espacio para el icono cuadrado */
                        margin-bottom: 0.5rem;
                      }
                      
                    li::before {
                        content: ''; /* Genera el cuadrado */
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 10px; /* Tamaño del cuadrado */
                        height: 10px;
                        background-color: #c680ff; /* Color del cuadrado */
                        border-radius: 2px; /* Ajusta si quieres esquinas redondeadas */
                    }
                }
            }
        }
    }

    @media (min-width: 760px) and (max-width: 940px) {
        .titleLine {
            width: calc(50vw + 40px + 2vw + 132px);
            align-self: flex-start;
            margin: 0;
            margin-left: 2.5vw;
            background-color: #c680ff;
            border: 0;
            height: 2px;
        }

        .description {
            border-left: 2px solid #c680ff;
            width: 95vw;
            height: 400px;
            padding-left: 2vw;
            display: flex;

            .descriptionText {
                margin-top: 30px;
                margin-right: 40px;
                color: #c2c2c2;
                text-align: justify;
                width: 50vw;
                letter-spacing: 1px;
                font-size: 14px;

                .colorDescription {
                    margin: 0;
                    color: #c680ff;
                }
            }

            .firstDescriptionText {
                margin-top: 0;
            }

            .profileImage {
                display: flex;
                flex-direction: column;

                .topPart {
                    height: 30px;
                    display: flex;

                    .topLeftPart {
                        border-right: 1px solid #c680ff;
                        height: 100%;
                        width: 50%;
                    }

                    .topRightPart {
                        border-left: 1px solid #c680ff;
                        height: 100%;
                        width: 50%;
                    }
                }

                .imageContainer {
                    height: 260px;
                    width: 260px;
                    border-radius: 10px;
                    box-shadow:
                        20px 20px 0 -1px #061324,
                        20px 20px 0px 2px #c680ff;

                    .profileImg {
                        height: 260px;
                        width: 260px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .skills {
            flex-grow: 1;
            width: 95vw;
            display: flex;

            .borderLeft {
                height: 100%;
                width: 2px;
                background: linear-gradient(rgba(198, 128, 255, 1), rgba(255, 77, 118, 1));
            }

            .content {
                padding-top: 0;
                padding-bottom: 8vh;
                justify-content: space-evenly;
                height: 100%;
                width: calc(95vw - 2px);
                display: flex;
                height: 280px;

                .leftContent,
                .rightContent {
                    color: #c2c2c2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }
    }

    @media (max-width: 760px) {
        height: 100%;

        .titleLine {
            display: none;
        }

        .description {
            border-top: 2px solid #c680ff;
            width: 70vw;
            min-width: 330px;
            flex-direction: column-reverse;
            display: flex;
            align-items: center;

            .descriptionText {

                color: #c2c2c2;
                text-align: justify;
                width: 70vw;
                min-width: 300px;
                height: fit-content;
                letter-spacing: 1px;
                font-size: 18px;

                .colorDescription {
                    margin: 0;
                    color: #c680ff;
                }
            }

            .firstDescriptionText {
                margin-top: 0;
            }

            .profileImage {
                display: flex;
                flex-direction: column;
                margin-bottom: 60px;

                .topPart {
                    height: 30px;
                    display: flex;

                    .topLeftPart {
                        border-right: 1px solid #c680ff;
                        height: 100%;
                        width: 50%;
                    }

                    .topRightPart {
                        border-left: 1px solid #c680ff;
                        height: 100%;
                        width: 50%;
                    }
                }

                .imageContainer {
                    height: 260px;
                    width: 260px;
                    border-radius: 10px;
                    box-shadow:
                        20px 20px 0 -1px #061324,
                        20px 20px 0px 2px #c680ff;

                    .profileImg {
                        height: 260px;
                        width: 260px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .skills {
            width: 70vw;
            height: 400px;
            min-width: 300px;
            display: flex;
            padding-bottom: 20px;
            border-bottom: 2px solid #c680ff;

            .content {
                justify-content: space-evenly;
                height: 100%;
                width: calc(95vw - 2px);
                display: flex;
                flex-direction: column;
                align-items: center;

                .leftContent,
                .rightContent {
                    color: #c2c2c2;
                    height: 180px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    column-gap: 10px;
                    -moz-column-gap: 10px;
                }
            }
        }
    }

    @media (max-height: 824px) {
        .description {
            height: 420px;
            font-size: 14px;
        }

        .skills {
            height: 200px;
            font-size: 14px;
        }
    }
}